body, div {
    margin: 0;
    padding: 0; 
}
.App {
    width: 100%;
    height: 700px;
    background-color: rgb(180, 180, 57);
    
}
.WrapperCmp {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(92, 180, 151);
    display: flex;
    flex-direction: row-reverse;
}
.colletionWrapper {
    text-align: center;
    width: 50%;
    background-color: rgb(191, 154, 226);
    display: flex;
    flex-direction: column;
}
.DropsWrapper {
    text-align: center;
    width: 50%;
    background-color: rgb(111, 156, 224);
    display: flex;
    flex-direction: column-reverse;
}
.hddCollection {
    height: 50%;
    width: 100%;
    background-color: rgb(206, 183, 83)
}
.ssdCollection {
    height: 50%;
    width: 100%;
    background-color: rgb(177, 221, 56)
}
.hddDrops {
    height: 50%;
    width: 100%;
    background-color: rgb(206, 183, 83)
}
.ssdDrops {
    height: 50%;
    width: 100%;
    background-color: rgb(177, 221, 56)
}
.diskCmp {
    height: 80px;
    width: 70px;
    background-color: yellow;
    margin: 2px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px #8a8a8a;
}
.hdds {
    display: flex;
    flex-flow: wrap;
}